@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
    display: block;
}
.nowrap{
    white-space: nowrap;
}

.container{
    background-color: rgb(205, 152, 255);
    background-image: url(/images/mountain.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
}

.offscreen{
    position: absolute;
    display: none;
}
.deer-profile{
    border-bottom: 2px solid#000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
p{
    margin-top: 10px;
    padding: 5px;
}
.p1{
    font-size: 60px !important;
}
h1{
    font-size: 500%;
    color: rgb(255, 66, 246);
    text-shadow: #9b0efa;
}
.profile-pic-figure{
    width: 35%;
}
.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}

